<!--<mat-card class="item-card" *ngFor="let feedItem of chanelFeed.items">-->
  <!--<mat-card-header class="card-header"><i class="material-icons blue-gray chart-icon" (click)="getStatistic(feedItem)">pie_chart</i></mat-card-header>-->
  <!--<div class="content">-->
    <!--<div>-->
      <!--<a href="{{feedItem.link}}">-->
        <!--<img class="thumbnail" *ngIf="!feedItem.enclosure.link" src="{{feedItem.thumbnail}}">-->
        <!--<img class="thumbnail" *ngIf="feedItem.enclosure.link" src="{{feedItem.enclosure.link}}">-->
      <!--</a>-->
    <!--</div>-->
    <!--<div class="text">-->
      <!--<a class="title" href="{{feedItem.link}}">{{feedItem.title}}-->
        <!--<div class="description" [innerHtml]="feedItem.description"></div>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<mat-card-footer class="card-footer">-->
    <!--<div class="pub-date">{{feedItem.pubDate | date:'HH:mm dd/MM/y'}}</div>-->
  <!--</mat-card-footer>-->
<!--</mat-card>-->
