.item-card {
  max-width: 784px;
  margin: 10px;
}
.title{
  color: #0D0D0D;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

.content {
  max-width: 800px;
}
.thumbnail{
  display: block;
  max-width: 144px;
  margin-right: 10px;
  height: auto;
}

.text{
  width:80%;
}
.content{
  display: flex;
  justify-content: start;
  align-content: flex-start;
  flex-direction: row;
  z-index: 0;
}

.cards{
  display: inline-block;
}
.chart-icon{
  position: absolute;
  cursor: pointer;
  top: 7px;
  right: 9px;
}
.card-header{
  display: flex;
  justify-content: flex-end;
}
.card-footer{
  display: flex;
  justify-content:flex-end;
}
.pub-date{
  display: inline-block;
  padding-right: 4px;
}

.feed-title{
  display: inline;
  padding-left: 10px;
}

.feed-chanel-wrapper{
  display: inline-block;
}

.title:hover{
  color: blue;
}

.description{
  color: #000;
  font-weight: normal;
}

.error{
  font-size: 2rem;
}
mat-spinner{
  margin: 150% 390%;
}

.notification-item:before {
  display: block;
  content: '';
  height: 100%;
  position: absolute;
  border-right: 1px solid #e0e6f0;
  top: 0;
  left: 23px;
}
.notification-item {
  min-height: 60px;
  padding: 10px 50px 5px 50px;
  position: relative;
}
.nt-date {
  font-weight: 400;
  font-size: 12px;
  position: relative;
  color: #90949c;
}
.nt-date:before {
   display: block;
   content: '';
   width: 9px;
   height: 9px;
   position: absolute;
   top: 5px;
   left: -31px;
   border-radius: 50%;
   border: 2px solid #673ab7;
   background: white;
   outline: 10px solid white;
 }
.nt-text {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  color: #202f3b;
}
.notification-item:hover {
 }
.nt-date:before {
 }
