<div class="registration-form">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Login">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password">
    </mat-form-field>

    <div class="navigation-buttons">
      <div class="button-row">
        <button mat-raised-button>LOG IN</button>
      </div>
      <div class="button-row">
        <button mat-raised-button color="primary">SIGN UP</button>
      </div>
    </div>

  </form>
</div>
