<div class="search-block">
  <mat-form-field class="example-form-field">
    <input matInput class="food-input" type="text" placeholder="Food you want.." [(ngModel)]="value" (keyup.enter)="getItems()"/>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <i class="fa fa-times"></i>
    </button>
  </mat-form-field>
</div>
<div class="main-wrapper" *ngIf="recipes && !loading">
  <div class="meal-title">
    Breakfast
  </div>
  <div class="meal-block">
    <div class="meal-card" *ngFor="let recipe of recipes.Breakfast">
      <div class="meal-card-content-wrapper">
        <button class="add-to-history-btn" mat-mini-fab color="primary" *ngIf="!recipe?.addedToHistory" (click)="addRecipe(recipe)"><i class="fa fa-plus"></i></button>
        <button class="add-to-history-btn" mat-mini-fab color="accent" *ngIf="!!recipe?.addedToHistory" style="color: white"><i class="fa fa-check"></i></button>
        <img src="{{recipe.recipe.image}}" alt="recipe.recipe.label">
        <div class="meal-card-content">
          <div class="meal-card-title">{{recipe.recipe.label}}</div>
          <div class="meal-card-desc">
            <span class="yield-count">Portion: {{window.parseInt(recipe.recipe.calories/recipe.recipe.yield)}} kcal</span>
            <span class="yield-count">Portions: {{recipe.recipe.yield}}</span>
          </div>
          <div class="meal-card-controls">
            <button mat-button color="primary" (click)="recipe.showPopup = true">Ingredients</button>
            <button mat-button color="primary" (click)="window.open(recipe.recipe.url,'_blank')">Recipe</button>
          </div>
        </div>
      </div>
      <div class="meal-card-ingredients-wrapper" [hidden]="!recipe?.showPopup">
        <i class="fa fa-times pointer" (click)="recipe.showPopup = false"></i>
        <div class="ingredients">
          <div class="ingredient pointer" (click)="line.checked = !line.checked"
               [ngClass]="{'class1' : !!line?.checked}"
               *ngFor="let line of recipe.recipe.ingredients">
            <mat-checkbox color="primary" [(ngModel)]="line.checked"></mat-checkbox>
            <span>{{line.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="meal-title">
    Dinner
  </div>
  <div class="meal-block">
    <div class="meal-card" *ngFor="let recipe of recipes.Dinner">
      <div class="meal-card-content-wrapper">
        <button class="add-to-history-btn" mat-mini-fab color="primary"><i class="fa fa-plus"></i></button>

        <img src="{{recipe.recipe.image}}" alt="recipe.recipe.label">
        <div class="meal-card-content">
          <div class="meal-card-title">{{recipe.recipe.label}}</div>
          <div class="meal-card-desc">
            <span class="yield-count">Portion: {{window.parseInt(recipe.recipe.calories/recipe.recipe.yield)}} kcal</span>
            <span class="yield-count">Portions: {{recipe.recipe.yield}}</span>
          </div>
          <div class="meal-card-controls">
            <button mat-button color="primary" (click)="recipe.showPopup = true">Ingredients</button>
            <button mat-button color="primary" (click)="window.open(recipe.recipe.url,'_blank')">Recipe</button>
          </div>
        </div>
      </div>
      <div class="meal-card-ingredients-wrapper" [hidden]="!recipe?.showPopup">
        <i class="fa fa-times pointer" (click)="recipe.showPopup = false"></i>
        <div class="ingredients">
          <div class="ingredient pointer" (click)="line.checked = !line.checked"
               [ngClass]="{'class1' : !!line?.checked}"
               *ngFor="let line of recipe.recipe.ingredients">
            <mat-checkbox color="primary" [(ngModel)]="line.checked"></mat-checkbox>
            <span>{{line.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="meal-title">
    Supper
  </div>
  <div class="meal-block">
    <div class="meal-card" *ngFor="let recipe of recipes.Supper">
      <div class="meal-card-content-wrapper">
        <button class="add-to-history-btn" mat-mini-fab color="primary"><i class="fa fa-plus"></i></button>
        <img src="{{recipe.recipe.image}}" alt="recipe.recipe.label">
        <div class="meal-card-content">
          <div class="meal-card-title">{{recipe.recipe.label}}</div>
          <div class="meal-card-desc">
            <span class="yield-count">Portion: {{window.parseInt(recipe.recipe.calories/recipe.recipe.yield)}} kcal</span>
            <span class="yield-count">Portions: {{recipe.recipe.yield}}</span>
          </div>
          <div class="meal-card-controls">
            <button mat-button color="primary" (click)="recipe.showPopup = true">Ingredients</button>
            <button mat-button color="primary" (click)="window.open(recipe.recipe.url,'_blank')">Recipe</button>
          </div>
        </div>
      </div>
      <div class="meal-card-ingredients-wrapper" [hidden]="!recipe?.showPopup">
        <i class="fa fa-times pointer" (click)="recipe.showPopup = false"></i>
        <div class="ingredients">
          <div class="ingredient pointer" (click)="line.checked = !line.checked"
               [ngClass]="{'class1' : !!line?.checked}"
               *ngFor="let line of recipe.recipe.ingredients">
            <mat-checkbox color="primary" [(ngModel)]="line.checked"></mat-checkbox>
            <span>{{line.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner-wrapper" *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i>
</div>
