table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}

.search-input-wrapper{
  width: 40% !important;
}

.search-bar-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}


.search-input-wrapper{
  width: 260px;
  padding-top: 20px;
}

.meal-card-ingredients-wrapper .fa-times{
  font-size: 18px;
  right: 8px;
  position: absolute;
  top: 8px;
}


.spinner-wrapper{
  color: #673ab7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 210px);
  font-size: 95px;
}



.event-creation-popup-wrapper{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

.ecp-card{
  min-width: 600px;
  min-height: 382px;
  width: 50vw;
  height: 62vh;
  position:  absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}
.ecp-card-content{
  position: relative;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
}
.fa-times{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 20px;
}
.ecp-title{
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}
.create-record{
  width: 180px;
  height: 50px;
  margin-top: 36px;
}

.ecp-card .mat-form-field{
  font-size: 19px;
}

.name, .params{
  display: inline;
}

.cont-wrapper{
  display: flex;
  flex-direction: column;
}

.name{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.fir-name, .fir-w{
  margin-right: 80px;
}

.picker-haha{
  width: 40%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cont-wrapper{
  margin-top: 20px;
}
