<div class="registration-form">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Login">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Age">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Weight">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Growth">
    </mat-form-field>

    <mat-radio-group>
      <mat-radio-button checked value="1">Man</mat-radio-button>
      <mat-radio-button class="second-radio-button" value="2">Woman</mat-radio-button>
    </mat-radio-group>

    <div class="navigation-buttons">
      <div class="button-row">
        <button mat-raised-button>REGISTER</button>
      </div>
      <div class="button-row">
        <button mat-raised-button color="primary">LOG IN</button>
      </div>
    </div>

  </form>
</div>
