.example-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    margin-top: 60px;
}

.navigation-buttons{
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.second-radio-button{
    margin-left: 20px;
}

.button-toggle{
  width: 225px;
}

.gender{
  margin-top: 5px;
  color: rgba(0,0,0,.54);
  margin-bottom: 6px;
}
.goal{
  color: rgba(0,0,0,.54);
  margin-bottom: 10px;
  margin-top: 21px;
  font-size: 15px;
}
