<div class="profile">

  <div class="titles">
    <div class="title">Login:</div>
    <div class="title">Weight:</div>
    <div class="title">Growth:</div>
    <div class="title">Age:</div>
    <div class="title">Activity:</div>
  </div>

  <div class="values">
    <div class="value login">Login</div>
    <div class="value">Weight</div>
    <div class="value">Growth</div>
    <div class="value">Age</div>
    <div class="value">Activity</div>
    <!--<div class="value">Activity</div>-->
  </div>

</div>
<!--<div class="blocked"><span class="blocked-margin">Blocked: </span> <span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span></div>-->
<!--<div class="title">Blocked!</div>-->