<div class="profile">

  <div class="titles">
    <div class="title">Login:</div>
    <div class="title">Weight:</div>
    <div class="title">Height:</div>
    <div class="title">Age:</div>
    <div class="title">Sex:</div>
    <div class="title">Goal:</div>
  </div>

  <div class="values">
    <div class="value login">{{user.nickname}}</div>
    <div class="value">{{user.weight}}</div>
    <div class="value">{{user.growth}}</div>
    <div class="value">{{user.age}}</div>
    <div class="value">{{user.sex}}</div>
    <div class="value">{{user.activity}}</div>
    <!--<div class="value">Activity</div>-->
  </div>

</div>
<!--<div class="blocked"><span class="blocked-margin">Blocked: </span> <span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span><span class="item">item, </span></div>-->
<!--<div class="title">Blocked!</div>-->
